<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Test de Clases D&D</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield text-gold">
      <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"></path>
    </svg>
    <a href="index.html" style="color: inherit; text-decoration: none;">
      <h1>TEST DE CLASES D&D</h1>
    </a>
  </header>

  <main>
    <section id="quiz-container">
      <!-- Las preguntas se cargan dinámicamente desde JS -->
    </section>
  </main>

  <script src="../src/renderer.js"></script>
  
</body>

</html>
